
#MonkDiv {
    border: 2px solid darkgoldenrod;
    margin: 15px;
    background-image: url('nedladdning.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 280px;
}

#ApaDiv{
    z-index: 1;
    position: fixed;
    top: 15px;
    left: 98.8px;
    margin: 0;
    margin-right: 700px;
    padding:7px;
    padding-bottom: 26.8px;
    padding-left: 0px;
    padding-top: 0px;
    overflow: hidden;
    background-color:black;
    scroll-margin-top: 10px;
}

body{
    background-image: url('Solar_Flare.gif');
    background-repeat: no-repeat;
    background-size: cover;
    image-orientation: 2000px;
 }

ol li a {
    display: box;
    padding: 20px;
    background-color: black;
    color:orangered;
    text-decoration: none;
}

img{
    border:2px orange;
    margin:0px;
    width:350px;
    height:250px;
}




@media screen and (max-width: 479px) {

    #MonkDiv {
        border: 2px solid darkgoldenrod;
        margin: 15px;
        background-image: url('PRKimages.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        } 

        #ApaDiv{
            z-index: 1;
            position: fixed;
            margin-right: 22.5px;
            padding:0px;
            padding-left: 0px;
            padding-top: 0px;
            overflow: hidden;
            background-color:black;
            scroll-margin-top: 10px;
            }
            
            body{
                background-image: url('Solar_Flare.gif');
                background-repeat: no-repeat;
                background-size: cover;
                image-orientation: 2000px;
                rotate: 90deg;
            }

            ol li a {
            
                padding: 11.5px 11.5px 11.5px 11.5px;
                background-color: black;
                color:orangered;
                text-decoration: none;
            }
    
} 
/*Avbrytning*/

ol li{
    float:left;
    list-style-type: none;
}

li a:hover{
    color:rgb(202, 54, 0);
    background-color: rgb(53, 49, 49);
}
 
 h1{
    color:darkorange;
    font-style: italic;
    font-size: 100px;
    text-align:center;
 }

 h3{
    color:orange;
    margin:15px;
 }

 footer {
    margin: 30px;
    
}
footer a{
    color: red;
    text-decoration: none;
    
}
footer a:hover {
    text-decoration:underline;
}

 p{
     color:red;
     margin:10px;
 }

    figure{
        float: right;
    }

    figure img{
        border-radius: 30%;
    }
    

    button{
        z-index: 1;
        display: box;
        padding: 20px;
        padding-bottom: 25.5px;
        border-color:orange;
        background-color: black;
        color:orangered;
        text-decoration: none;
        float: left; 
        position: fixed;
        top: 15px;
        left: 22.8px;
}

button:hover{
    background-color:rgb(53, 49, 49);
    color:rgb(202, 54, 0);   
}
/*Under bild byte*/
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }

  .container {
    position: relative;
    width: 100%;
  }

  .container:hover .overlay {
    width: 100%;
    left: 0;
    
  }
  /*Slut*/